<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated restAssuredTestGenerator -->
      <package
            uri="http://www.example.org/restAssuredTestGenerator"
            class="restAssuredTestGenerator.RestAssuredTestGeneratorPackage"
            genModel="model/restAssuredTestGenerator.genmodel"/>
   </extension>

</plugin>
